* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-container {
    color: #fff;
    background-color: #1F2937;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    font-weight: 48px extra-bold #F9FAF8;
}
.menu-container a {
    color: white;
    font: 100;
    font-size: x-large;
    text-decoration: none;
}
.menu {
    /* border: 1px solid #fff;*/ 
    width: 900px;
    display: flex;
    justify-content: space-between;
}
.links {
     /*border: 1px solid #fff;*/ 
    display: flex;
    justify-content: flex-end;
}
.headerlogo img {
    width: 100px;
    height: 90px;
    border-radius: 20px;
}
.login {
    margin-left: 20px;
}
.signup {
    margin-left: 20px;
}
.header-container {
    color: #5995DA;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    height: 350px;
}
/* .header-container h1 {
    margin-right: 30px;
} */
.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1, p {
    color: white;
}
.header button {
    background-color: blue;
    width: 90px;
    border: none;
    color: white;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
}
.random-container { 
    display: flex;
    justify-content: center;
}

.gallery-container {
    display: flex;
    justify-content: center;
    
}
.card {
    background-color: white;
    width: 200px;
    height: 300px;
    margin: 10px;
}
.card p {
    color: black;
    margin-left: auto;
    margin-right: auto;
}
.card-image {
    background-color: aqua;
    height: 250px;
    margin-bottom: 15px;
}
.card-1 {
    background-image: url(../images/nature1.jpg);
    height: 200px;
    background-size: cover;
    border-radius: 15px;
}
.card-2 {
    background-image: url(../images/nature5.jpg);
    height: 200px;
    background-size: cover;
    border-radius: 15px;
}
.card-3 {
    background-image: url(../images/nature3.jpg);
    height: 200px;
    background-size: cover;
    border-radius: 15px;
}
.card-4 {
    background-image: url(../images/nature4.jpg);
    height: 200px;
    background-size: cover;
    border-radius: 15px;
}
.card-images {
    background-color: aqua;
    height: 200px;
    margin-bottom: 15px;
}
.card-5 {
    background-color: white;
    height: 250px;
    width: 500px;
    background-image: url(../images/nature.jpg);
    margin: 30px;
}

.quota-container {
    color: #fff;
    background-color: #E5E7EB;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    height: 350px;
}
.quota-container h2 {
    text-align: right;
    font-family: 36px light italic #1F2937;
}
.action-container {
    color: #fff;
    background-color: #ffff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    height: 350px;
}
.actions {
    padding: 16px;
    text-align: center;
    background-color: blue;
    width: 800px;
    height: 180px;
    border-radius: 10px;
    text-align: left;
    position: inherit;
    margin-top: 50px;
    margin-bottom: 50px;
}
.actions h1 {
    margin-left: 30px;
    text-align: left;
    margin-top: 40px;
}
.actions h5 {
    margin-left: 30px;
}
.actions button {
    display: flex;
    background-color: blue;
    width: 90px;
    color: white;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin-left: 550px;
    border: 1px solid white;
    
}
.footer-container {
    color: #fff;
    background-color: #1F2937;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    height: 100px;
}
.subscribe {
    color: #1F2937;
}

.img {
    height: 250px;
    width: 250px;
}